body{
    background-image: url('../images/hood1.webp');
    background-size: cover;
}

.bgr{
    background-color: rgba(0, 0, 0, 0.432);
    border: 2px solid blue;
    border-radius: 45px;
    width: fit-content;
    padding: 30px;
    outline: none;
    font-family: poppins;
}

.bgr:hover{
    background-color: #815037;
    
}

.lgin{
    background-color: black;
    margin-top: 20px;
    border-radius: 45px;
}